<%- include('../layout/header') %>
<%- include('../scripts/scripts') %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card shadow">
                    <div class="card-header bg-primary">
                        <h5 class="text-light">Dados para contrato pessoal ou de militância</h5>
                    </div>
                    <div class="card-body p-4">
                        <form action="/contrato-pessoal/view/<%= contratoPessoal.idContratoPessoal %>" method="post" id="view-form"
                             onsubmit="return validateContrato()">
                            <div class="mb-3">
                                <label for="municipio">Município</label>
                                <input type="text" name="municipio" class="form-control form-control-lg" placeholder="Município" value="<%= contratoPessoal.municipio %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="nrCandidato">Candidato</label>
                                <input type="number" name="nrCandidato" class="form-control form-control-lg" placeholder="Número do candidato" value="<%= contratoPessoal.nrCandidato %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="nmContratado">Nome do contratado</label>
                                <input type="text" name="nmContratado" class="form-control form-control-lg" placeholder="Nome" value="<%= contratoPessoal.nmContratado %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="cpfContratado">CPF - Contratado</label>
                                <input type="text" name="cpfContratado" class="form-control form-control-lg" placeholder="CPF" value="<%= contratoPessoal.cpfContratado %>"  
                                data-mask="000.000.000-00" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="rgContratado">RG - Contratado</label>
                                <input type="text" name="rgContratado" class="form-control form-control-lg" placeholder="RG" value="<%= contratoPessoal.rgContratado %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="enderecoContratado">Endereço - Contratado</label>
                                <input type="text" id="endereco" name="enderecoContratado" class="form-control form-control-lg" placeholder="Endereço"
                                 value="<%= contratoPessoal.enderecoContratado %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="bairroContratado">Bairro - Contratado</label>
                                <input type="text" name="bairroContratado" class="form-control form-control-lg" placeholder="Bairro" value="<%= contratoPessoal.bairroContratado %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="cidadeContratado">Cidade - Contratado</label>
                                <input type="text" name="cidadeContratado" class="form-control form-control-lg" placeholder="Cidade" value="<%= contratoPessoal.cidadeContratado %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="ufContratado">UF - Contratado</label>
                                <select name="ufContratado" class="form-control form-control-lg" required disabled>
                                    <option value="" disabled selected hidden>Selecione o estado</option>
                                    <% uf.forEach(uf => { %>
                                        <option value="<%= uf.uf %>" <%= contratoPessoal.ufContratado == uf.uf ? 'selected' : '' %>> <%= uf.uf %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="cepContratado">CEP - Contratado</label>
                                <input type="text" name="cepContratado" class="form-control form-control-lg" placeholder="CEP" data-mask="00000-000" value="<%= contratoPessoal.cepContratado %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="idFuncao">Função</label>
                                <select name="idFuncao" class="form-control form-control-lg" required disabled>
                                    <option value="" disabled hidden>Selecione a Função</option>
                                    <% funcao.forEach(funcao => { %>
                                        <option value="<%= funcao.idFuncao %>" <%= contratoPessoal.idFuncao == funcao.idFuncao ? 'selected' : '' %>> <%= funcao.nmFuncao %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="contratadoDoado">Contratado ou doado</label>
                                <select name="contratadoDoado" class="form-control form-control-lg" required disabled>
                                    <option value="" disabled selected hidden>Selecione</option>
                                    <option value="Contratado" <%= contratoPessoal.contratadoDoado === 'Contratado' ? 'selected' : '' %>>Contratado</option>
                                    <option value="Doado" <%= contratoPessoal.contratadoDoado === 'Doado' ? 'selected' : '' %>>Doado</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="cgHoraria">Carga horária Financeiro</label>
                                <input type="number" name="cgHoraria" class="form-control form-control-lg" placeholder="Carga Horária" value="<%= contratoPessoal.cgHoraria %>" required readonly />
                            </div>
                            <div class="card-header bg-primary">
                                <h5 class="text-light">Informações de pagamento</h5>
                            </div>
                            <div class="mb-3">
                                <label for="nrBanco">Banco (número)</label>
                                <input type="number" name="nrBanco" class="form-control form-control-lg" placeholder="Número do banco" value="<%= contratoPessoal.nrBanco %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="nrAgencia">Agencia</label>
                                <input type="number" name="nrAgencia" class="form-control form-control-lg" placeholder="Agência" value="<%= contratoPessoal.nrAgencia %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="nrContaBancaria">Conta Bancária</label>
                                <input type="number" name="nrContaBancaria" class="form-control form-control-lg" placeholder="Número do banco" value="<%= contratoPessoal.nrContaBancaria %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="usaPixCpf">Usa Pix CPF?</label>
                                <select name="usaPixCpf" class="form-control form-control-lg" required disabled>
                                    <option value="" disabled selected hidden>Selecione</option>
                                    <option value="1" <%= contratoPessoal.usaPixCpf === 1 ? 'selected' : '' %>>Sim</option>
                                    <option value="0" <%= contratoPessoal.usaPixCpf === 0 ? 'selected' : '' %>>Não</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="formaPagamento">Forma de pagamento</label>
                                <select name="formaPagamento" class="form-control form-control-lg" required disabled>
                                    <option value="" disabled selected hidden>Selecione</option>
                                    <option value="1" <%= contratoPessoal.formaPagamento === 1 ? 'selected' : '' %>>1 Parcela</option>
                                    <option value="2" <%= contratoPessoal.formaPagamento === 2 ? 'selected' : '' %>>2 Parcelas</option>
                                    <option value="3" <%= contratoPessoal.formaPagamento === 3 ? 'selected' : '' %>>3 Parcelas</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="dtVencimento">Data de vencimento</label>
                                <input type="date" name="dtVencimento" class="form-control form-control-lg" placeholder="  /  /  " value="<%= contratoPessoal.dtVencimento %>" required readonly />
                            </div>
                            <div class="card-header bg-primary">
                                <h5 class="text-light">Informações do contrato</h5>
                            </div>
                            <div class="mb-3">
                                <label for="dtInicio">Início do contrato</label>
                                <input type="date" name="dtInicio" class="form-control form-control-lg" placeholder="  /  /  " value="<%= contratoPessoal.dtInicio %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="dtFim">Fim do contrato</label>
                                <input type="date" name="dtFim" class="form-control form-control-lg" placeholder="  /  /  " value="<%= contratoPessoal.dtFim %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="hrEntrada">Horário de entrada</label>
                                <input type="time" name="hrEntrada" class="form-control form-control-lg" placeholder="  /  /  " value="<%= contratoPessoal.hrEntrada %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="hrSaida">Horário de saída</label>
                                <input type="time" name="hrSaida" class="form-control form-control-lg" placeholder="  /  /  " value="<%= contratoPessoal.hrSaida %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <label for="hrIntervalo">Intervalo de almoço</label>
                                <input type="time" name="hrIntervalo" class="form-control form-control-lg" placeholder="  /  /  " value="<%= contratoPessoal.hrIntervalo %>" required readonly />
                            </div>
                            <div class="mb-3">
                                <input type="button" name="submit" value="Voltar" onclick="window.location.href='/contrato-pessoal'" class="btn btn-danger btn-lg" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../layout/footer') %>
