<%- include('../layout/header') %>
    <%- include('../scripts/scripts') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto mt-4">
                    <div class="card shadow">
                        <div class="card-header bg-primary">
                            <h5 class="text-light">Cadastrar Salário</h5>
                        </div>
                        <div class="card-body p-4">
                            <form action="/salario/create" method="post" id="add-form">
                                <div class="mb-3">
                                    <label for="municipio">Município</label>
                                    <input type="text" name="municipio" class="form-control form-control-lg"
                                        placeholder="Município" required />
                                </div>
                                <div class="mb-3">
                                    <label for="nrCandidato">Candidato</label>
                                    <div class="input-group">
                                        <input type="number" name="nrCandidato" class="form-control form-control-lg"
                                            placeholder="Número do candidato" required />
                                        <button type="button" class="btn btn-primary modal-btn">Buscar
                                            Candidato</button>
                                    </div>
                                </div>
                                <button type="button" onclick="checkCandidato()">Verificar Candidato</button>
                                <div id="candidato-message" style="margin-top: 10px;"></div>
                                <div class="mb-3">
                                    <label for="idFuncao">Função</label>
                                    <div class="input-group">
                                        <select name="idFuncao" class="form-control form-control-lg" required>
                                            <option value="" disabled selected hidden>Selecione a Função</option>
                                            <% funcao.forEach(funcao=> { %>
                                                <option value="<%= funcao.idFuncao %>">
                                                    <%= funcao.nmFuncao %>
                                                </option>
                                                <% }); %>
                                        </select>
                                        <button type="button" class="btn btn-primary modal-btn-funcao">Buscar
                                            Função</button>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="valor">Valor</label>
                                    <input type="text" id="valor" name="valor" class="form-control form-control-lg"
                                        placeholder="R$..." data-mask="#.##0,00" data-mask-reverse="true" required />
                                </div>
                                <div class="mb-3">
                                    <label for="tipo">Tipo</label>
                                    <select name="tipo" class="form-control form-control-lg" required>
                                        <option value="" disabled selected hidden>Tipo</option>
                                        <option value="Mensal">Mensal</option>
                                        <option value="Campanha">Campanha</option>
                                        <option value="Dia">Dia</option>
                                        <option value="Hora">Hora</option>
                                        <option value="Semana">Semana</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="cgHoraria">Carga Horária</label>
                                    <input type="number" name="cgHoraria" class="form-control form-control-lg"
                                        placeholder="Carga horária" required />
                                </div>

                                <div class="mb-3">
                                    <input type="submit" name="submit" value="Cadastrar"
                                        class="btn btn-primary btn-lg" />
                                    <input type="button" name="submit" value="Voltar"
                                        onclick="window.location.href='/salario'" class="btn btn-danger btn-lg" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal para exibição de funções -->
        <div class="modal fade" id="listaFuncoesModal" tabindex="-1" aria-labelledby="listaFuncoesModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="listaFuncoesModalLabel">Lista de Funções</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <% if (funcao.length> 0) { %>
                            <table class="table table-striped text-center my-2">
                                <thead>
                                    <tr class="table-dark">
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Descrição</th>
                                        <th>Tipo de Contrato</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% funcao.forEach((row, index)=> { %>
                                        <tr class="align-middle">
                                            <td>
                                                <%= row.idFuncao %>
                                            </td>
                                            <td>
                                                <%= row.nmFuncao %>
                                            </td>
                                            <td>
                                                <%= row.dsFuncao %>
                                            </td>
                                            <td>
                                                <%= row.tpContrato %>
                                            </td>
                                            <td>
                                                <button type="button" class="text-success border-none"
                                                    title="Selecionar função"
                                                    onclick="preencherCampoFuncao('<%= row.idFuncao %>')">
                                                    <i class="fa-solid fa-check mx-1"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                            <% } else { %>
                                <h1 class="text-center text-secondary mt-5">Nenhuma função encontrada no banco de dados.
                                </h1>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal para exibição de candidatos -->
        <div class="modal fade" id="listaCandidatosModal" tabindex="-1" aria-labelledby="listaCandidatosModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="listaCandidatosModalLabel">Lista de Candidatos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <% if (candidato !='' ) { %>
                            <table class="table table-striped text-center my-2">
                                <thead>
                                    <tr class="table-dark">
                                        <th>Número</th>
                                        <th class="text-center">Partido</th>
                                        <th class="text-center">Cargo</th>
                                        <th class="text-center">Município</th>
                                        <th class="text-center">Nome</th>
                                        <th class="text-center">CNPJ</th>
                                        <th class="text-center">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% candidato.forEach((row, index)=> { %>
                                        <tr class="align-middle">
                                            <td style="text-align: center;">
                                                <%= row.nrCandidato %>
                                            </td>
                                            <td style="text-align: center;">
                                                <%= row.partido %>
                                            </td>
                                            <td style="text-align: center;">
                                                <%= row.cargo %>
                                            </td>
                                            <td style="text-align: center;">
                                                <%= row.municipio %>
                                            </td>
                                            <td style="text-align: center;">
                                                <%= row.nmCandidato %>
                                            </td>
                                            <td style="text-align: center;" data-mask="00.000.000/0000-00">
                                                <%= row.cnpj %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <button type="button" class="text-success border-none"
                                                    title="Selecionar candidato"
                                                    onclick="preencherCampo('<%= row.nrCandidato %>')">
                                                    <i class="fa-solid fa-check mx-1"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                            <% } else{ %>
                                <h1 class="text-center text-secondary mt-5">Nenhum candidato encontrado no banco de
                                    dados.</h1>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
        <style>
            #listaCandidatosModal .modal-dialog {
                max-width: 800px !important;
            }

            .card-header h5 {
                margin-bottom: 0;
            }

            .border-none {
                border: none;
            }

            .input-group input {
                border-top-left-radius: 0.5rem !important;
                border-bottom-left-radius: 0.5rem !important;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .input-group button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: 0.5rem !important;
                border-bottom-right-radius: 0.5rem !important;
            }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const listaCandidatosModal = new bootstrap.Modal(document.getElementById('listaCandidatosModal'));
                document.querySelectorAll('.modal-btn').forEach(button => {
                    button.addEventListener('click', function () {
                        listaCandidatosModal.show();
                    });
                });
            });
            function preencherCampo(nrCandidato) {
                // Obtém o campo com name="nrCandidato"
                const campo = document.querySelector('input[name="nrCandidato"]');
                if (campo) {
                    // Preenche o campo com o número do candidato
                    campo.value = nrCandidato;
                } else {
                    console.error('Campo com name="nrCandidato" não encontrado.');
                }
                $("#listaCandidatosModal").modal('hide');
            }
            document.addEventListener('DOMContentLoaded', function () {
                const listaFuncoesModal = new bootstrap.Modal(document.getElementById('listaFuncoesModal'));
                document.querySelectorAll('.modal-btn-funcao').forEach(button => {
                    button.addEventListener('click', function () {
                        listaFuncoesModal.show();
                    });
                });
            });

            function preencherCampoFuncao(idFuncao) {
                // Preenche o campo com name="idFuncao" com o id da função
                const campo = document.querySelector('select[name="idFuncao"]');
                if (campo) {
                    campo.value = idFuncao;
                } else {
                    console.error('Campo com name="idFuncao" não encontrado.');
                }
                $("#listaFuncoesModal").modal('hide');
            }
        </script>
        <%- include('../layout/footer') %>